.app{
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
  margin: 10px;
  overflow-x: hidden;
  min-width: 400px;
  
}

body{
  background-color: whitesmoke;
  min-width: 400px;
  margin: 0px;
  padding: 0px;
}